html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #f5e0e5;
  background-image: linear-gradient(45deg, #ff9b9c 0%, #ffd4a7 100%);
  position: relative;
  font-family: "Roboto", sans-serif;
}

*::selection {
  background-color: unset;
}

.player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 760px;
  border-radius: 15px;
  background-color: #fff6e7;
  box-shadow: 0 15px 20px 0 #c58371;
}
.player input[type="range"] {
  -webkit-appearance: none !important;
  margin: 0px;
  padding: 0px;
  background: #f2eae4;
  height: 5px;
  width: 150px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}
.player input[type="range"]::-ms-fill-lower {
  background: #f2eae4;
}
.player input[type="range"]::-ms-fill-upper {
  background: #f2eae4;
}
.player input[type="range"]::-moz-range-track {
  border: none;
  background: #f2eae4;
}
.player input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #ff3677;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  box-shadow: -100vw 0 0 100vw #f7d9b9;
}
.player input[type="range"]::-moz-range-thumb {
  background: #ff3677;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}
.player input[type="range"]::-ms-thumb {
  -webkit-appearance: none !important;
  background: #ff3677;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}
.player .cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  box-shadow: 0 5px 20px 0 #d56c006d;
}
.player .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player .info {
  position: absolute;
  left: 50%;
  top: 240px;
  transform: translateX(-50%);
  text-align: center;
}
.player .info .title {
  font-size: 20px;
  font-weight: 700;
  color: #444;
  margin-bottom: 2px;
}
.player .info .singer {
  font-size: 12px;
  color: #72646f;
}
.player .btn-box {
  position: absolute;
  top: 330px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.player .btn-box i {
  font-size: 24px;
  color: #72646f;
  margin: 0 30px;
  cursor: pointer;
}
.player .btn-box i.active {
  color: #ff3677;
}
.player .volume-box {
  display: none;
  position: absolute;
  left: 50%;
  top: 295px;
  transform: translateX(-50%);
  z-index: 1;
  padding: 0 20px;
}
.player .volume-box .volume-down {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #72646f;
}
.player .volume-box .volume-up {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #72646f;
}
.player .volume-box .volume-up::selection {
  background-color: unset;
}
.player .volume-box input[type="range"] {
  height: 5px;
  width: 150px;
  margin: 0 0 15px 0;
}
.player .volume-box.active {
  display: block;
}
.player .music-box {
  position: absolute;
  left: 50%;
  top: 385px;
  transform: translateX(-50%);
}
.player .music-box input[type="range"] {
  height: 5px;
  width: 230px;
  margin: 0 0 10px 0;
}
.player .music-box input[type="range"]::-webkit-slider-thumb {
  height: 5px;
  width: 7px;
}
.player .music-box .current-time {
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #72646f;
}
.player .music-box .duration {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #72646f;
}
.player .music-box .play,
.player .music-box .pause {
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff6e7;
  cursor: pointer;
  transition: all 0.4s;
}
.player .music-box .play i,
.player .music-box .pause i {
  font-size: 36px;
  color: #72646f;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -50%);
}
.player .music-box .pause i {
  font-size: 32px;
  transform: translate(-50%, -50%);
}

.wrapper {
  overflow: hidden;
}

.x1 {
  left: 5%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.6;
  -webkit-animation: moveclouds 15s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}
.x2 {
  left: 25%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9;
  -webkit-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
}
.x3 {
  left: -45%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}
.x4 {
  left: 55%;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.9;
  -webkit-animation: moveclouds 18s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite,
    sideWays 0zs ease-in-out infinite alternate;
}
.x5 {
  left: -35%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveclouds 7s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
}
.x6 {
  left: 33%;
  opacity: 1;
  -webkit-animation: moveclouds 2s linear infinite,
    swayWays 1s ease-in-out infinite alternate;
  animation: moveclouds 10s linear infinite,
    swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@keyframes moveclouds {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@-keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left: -0.3%;
  }
  33% {
    transform: rotate(-2deg);
    left: 0.7%;
  }
  100% {
    transform: rotate(0deg);
    left: -12%;
  }
}

.altheart {
  background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png)
    no-repeat center;
  width: 24px;
  height: 21px;
  position: relative;
  display: block;
}

.heart {
  position: relative;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 18px;
  top: 0;
  width: 18px;
  height: 30px;
  background: #cc2022;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@media screen and (max-width: 768px) {
  .player {
    width: 70% !important;
    height: 80% !important;
  }
}
@media screen and (max-width: 480px) {
  .player {
    width: 100% !important;
    height: 100% !important;
  }
}
